  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }

    header {
      background-color: #333;
      color: white;
      padding: 20px;
      text-align: left;
      font-size: 24px;
    }

    nav {
      background-color: #444;
    }

    .menu {
      display: flex;
      justify-content: center;
      gap: 30px;
      padding: 10px 0;
      list-style: none;
      margin: 0;
    }

.menu  a {
    padding: 10px 20px;
    border: 1px solid grey;
    background-color: #444;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    color: black;
    text-decoration: none;

}

